/* Product Details - 2 page layout styles */
header.extra-header .content-wrapper {
  padding: 0;
  align-items: stretch;
}
header.extra-header .content-wrapper .extra-header-holder {
  padding: 10px 0;
  width: 72%;
  display: flex;
  align-items: center;
}
header.extra-header .content-wrapper .extra-header-holder .extra-product-picture figure {
  display: flex;
  align-items: center;
}
.product-top-container {
  background-color: #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}
.product-top-container::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, .6) 100%);
  z-index: 1;
}
.product-top-container .content-wrapper {
  overflow: hidden;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  position: relative;
  z-index: 2;
}
nav.breadcrumbs a:not(.breadcrumbs-link) {
  color: #FFFFFF;
}
.product-top-container .top-prod-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top-prod-info .prod-name {
  width: 70%;
  padding-bottom: 33px;
}
.prod-name .category-info {
  padding-bottom: 18px;
  display: inline-flex;
}
.category-info > * {
  background-color: #0C0C0C;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 13px;
  padding: 2px 6px;
  margin-right: 6px;
  white-space: nowrap;
}
.category-info a:hover {
  color: #FFFFFF;
}
.prod-name h1 {
  text-shadow: 0 1px 1px #000;
  color: #FFFFFF;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 1;
  padding-bottom: 12px;
}
.prod-name h1 i.fa-fire {
  color: #ca212a;
}
.prod-name .add-review {
  display: inline-flex;
  flex-direction: column;
}
.prod-name .add-review .customers-rate {
  display: flex;
  font-size: 19px;
  line-height: 1;
  color: #e0dadf;
  padding-bottom: 6px;
}
.prod-name .add-review .customers-rate .active {
  color: #ff8a00;
}
.prod-name .add-review a {
  font-size: 11px;
  color: #999999;
}
.top-prod-info .prod-pricing {
  background-color: rgba(0, 0, 0, .6);
  font-size: 24px;
  padding: 20px 18px;
  text-align: center;
  width: 28%;
}
header.extra-header .content-wrapper .prod-pricing {
  width: 28%;
  font-size: 16px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #FFFFFF
}
header.extra-header .content-wrapper .prod-pricing .new-price {
  font-size: 19px;
  margin-left: 6px;
}
.prod-pricing .old-price {
  opacity: .3;
  text-decoration: line-through;
}
.prod-pricing .new-price {
  font-size: 29px;
}
.product-details .details-content {
  padding-top: 0;
}
.details-content .sidebar .sidebar-holder {
  background-color: #FFFFFF;
  top: 0;
  transition: top .6s linear;
}
.details-content .sidebar.fix-bar .sidebar-holder {
  width: 336px;
  position: fixed;
  top: 70px;
  z-index: 9;
}
.details-content aside.sidebar .sidebar-suggestions {
  padding: 18px;
  border: 1px solid #dce0e0;
  margin-bottom: 30px;
}
.sidebar-suggestions .buy-best {
  padding-bottom: 18px;
}
.sidebar-suggestions .buy-best a.button-best-buy {
  display: block;
  text-align: center;
}
.details-content aside.sidebar .sidebar-socials {
  padding: 18px;
  border: 1px solid #dce0e0;
}
span.product-add-to {
  display: flex;
  justify-content: space-around;
}
span.product-add-to button.wishlist-btn {
  margin-right: 6px;
}
.sidebar-socials .social-links {
  padding-top: 12px;
  text-align: center;
}
.content-links-container {
  display: flex;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 18px;
}
.content-links-container a {
  padding: 12px 18px;
  margin-right: 3px;
  position: relative;
  text-transform: uppercase;
  color: #999999;
  letter-spacing: -0.5px;
}
.content-links-container a:last-of-type {
  margin-right: 0;
}
.content-links-container a::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ff4136;
  height: 3px;
  width: 0;
  transition: width .3s cubic-bezier(.5, 0, .5, 1);
}
.content-links-container a:hover::before,
.content-links-container a.active::before {
  width: 100%;
}
.content-links-container a.active {
  color: #111111;
  font-weight: 400;
}
.details-block {
  border: none;
  border-bottom: 1px solid #eeeeee;
  box-shadow: none;
}
.details-block .details-toggle-content {
  padding: 0 0 18px 0;
}
h2.specification-title i.fa {
  color: #ff4136;
}
#additional h2.specification-title i.fa {
  color: #000000;
}
.product-photos-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.product-photos-container .photo-item {
  padding: 8px;
  flex-basis: 25%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.user-reviews-container .total-rate {
  flex-direction: column;
  align-items: center;
}
.total-rate .stars-amount {
  display: flex;
}
.total-rate .stars-amount span {
  font-size: 24px;
  line-height: 1;
  color: #e0dadf;
}
.total-rate .stars-amount span.active {
  color: #ff8a00;
}
 form.review-form .submit-action button.btn-submit-review {
  box-shadow: none;
}
.related-products-listing {
  padding: 18px 12px;
}
.related-products-listing h3 {
  font-size: 21px;
  padding-bottom: 12px;
}
.related-products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.related-products-list .related-product-item {
  width: 20%;
  padding: 0 12px 24px;
}
