/* Media queries for responsive layout */
@media screen and (max-width: 1555px) {
  .affiliate-search {
    background-size: cover;
    align-items: center;
    justify-content: center;
  }
  .affiliate-search .search-deal-holder {
    margin: inherit;
  }
}
@media screen and (max-width: 1255px) {
  .header-container a.logo {
    margin-left: 12px;
  }
  .discounts-container {
    padding: 30px 0 36px;
  }
  .discounts-carousel {
    max-width: 882px;
    margin: 0 auto;
  }
  .listing .tab-content.active-tab {
    margin: 0 -6px;
  }
  .listing .tab-content.active-tab .tab-listing-item {
    padding: 0 6px 24px;
  }
  .video-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  .video-content iframe {
    height: 525px;
  }
  .news-reviews-content {
    padding: 0 12px;
  }
  .news-reviews-list {
    margin: 0 -6px;
  }
  .news-reviews-list .news-review-item {
    margin: 0 6px 24px;
  }
  footer .footer-content {
    margin: 0;
  }
  .newsletter-input button.newsletter-subscribe {
    min-width: 114px;
  }
  .product-category .category-content {
    padding: 20px 12px;
  }
  .category-content .main-content .category-products {
    margin: 0 -6px;
  }
  .category-content .category-products .category-product-item {
    padding: 0 6px 24px;
  }
  header.extra-header .content-wrapper {
    padding: 10px 18px;
  }
  .details-wide header.extra-header .content-wrapper {
    padding: 0 18px;
  }
  .product-top-container .content-wrapper {
    padding: 24px 18px 0;
  }
  .product-details .details-content {
    flex-wrap: wrap;
  }
  .details-content .main-content {
    width: 100%;
    padding: 0 18px;
  }
  .details-wide .details-content .main-content {
    order: 2;
  }
  .details-content .sidebar {
    width: 100%;
    padding: 18px 18px 0;
  }
  .details-wide .details-content .sidebar {
    order: 1;
    padding: 0 18px;
  }
  .details-wide .sidebar .sidebar-holder {
    display: flex;
    justify-content: space-between;
  }
  .details-content aside.sidebar .sidebar-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .details-wide .sidebar .sidebar-holder .sidebar-suggestions {
    margin: 0;
    order: 1;
    flex-grow: 1;
    border-left: none;
  }
  .sidebar-suggestions .buy-best a.button-best-buy {
    max-width: 50%;
    margin: 0 auto;
  }
  .sidebar-suggestions .suggestion-stores {
    display: flex;
    justify-content: space-between;
  }
  .sidebar-suggestions .suggestion-stores a {
    width: 49%;
    margin: 0;
  }
  .sidebar .top-offers-holder,
  .details-content .sidebar.fix-bar .top-offers-holder,
  .details-content .sidebar .sidebar-holder,
  .details-content .sidebar.fix-bar .sidebar-holder {
    position: static;
    top: initial;
    width: 100%;
  }
  .top-offers-holder h2.heading {
    justify-content: flex-start;
  }
  .top-offers-holder h2.heading::after {
    left: 30px;
  }
  .top-offers {
    display: flex;
    flex-wrap: wrap;
  }
  .top-offers .offer-item {
    width: 33.3%;
    padding: 12px;
    border: none;
  }
  .related-products-listing {
    padding: 18px;
  }
  .product-listing-content {
    padding: 12px 24px;
  }
  .top-headings {
    padding: 12px 12px 0;
  }
  .top-winner .winner-image {
    width: 40%;
  }
  .winner-actions {
    width: 60%;
  }
  .comparing-container.fix-comparing {
    width: calc(100% - 36px);
  }
}

@media screen and (max-width: 1024px) {
  .tab-listing-item {
    width: 25%;
  }
  .video-content iframe {
    height: 425px;
  }
  .news-reviews-title h6 {
    font-size: 15px;
  }
  .newsletter-input button.newsletter-subscribe {
    min-width: inherit;
  }
  .details-wide .related-products-list,
  .top-products-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }
  .details-wide .related-products-list .related-product-item,
  .top-products-list .top-item {
    width: 25%;
    padding: 0 6px 24px;
  }
  .top-winner {
    flex-wrap: wrap;
  }
  .top-winner .winner-image,
  .winner-actions {
    width: 100%;
  }
  .top-parameter, .item-25 .deal-score-container {
    display: none;
  }
}

@media screen and (max-width: 923px) {
  .header-container {
    height: 40px;
  }
  .header-container a.logo { margin-left: 18px }
  .header-container .mobile-menu {
    display: flex;
    opacity: 1;
    height: auto;
    color: #FFFFFF;
    font-size: 28px;
    margin-right: 18px;
    cursor: pointer;
    margin-left: auto;
  }
  .header-container .header-navigation {
    display: none;
  }
  .header-container #mobile-menu-trigger:checked + .header-navigation {
    display: block;
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: #f6f6f6;
    padding: 0 12px;
    z-index: 5;
  }
  .header-container #mobile-menu-trigger:checked ~ .mobile-menu-overlay {
    display: block;
    position: fixed;
    opacity: .4;
    height: 100%;
    width: 100%;
    top: 40px;
    left: 0;
    background-color: #000000;
    z-index: 3;
  }
  .header-navigation .nav-container {
    height: auto;
  }
  .nav-container > li {
    padding: 12px;
  }
  .nav-container > li > a {
    color: #333333;
    padding: 0;
  }
  .discounts-carousel {
    max-width: 588px;
  }
  .search-and-compare .content-wrapper {
    max-width: 600px;
  }
  .category-content .main-content {
    width: 100%;
  }
  .category-content .sidebar {
    width: 240px;
    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 3;
  }
  aside.sidebar .categories-nav {
    padding: 12px;
  }
  .categories-nav .category-item {
    padding: 10px 0;
    font-size: 14px;
  }
  .categories-nav label.category-item {
    padding: 0 0 8px;
  }
  .shop-page .category-content {
    flex-wrap: wrap;
  }
  .shop-page .category-content .sidebar {
    position: static;
    width: 100%;
    margin-top: 12px;
  }
  .filters-container .filters-title,
  .category-content .main-content nav.breadcrumbs,
  .category-content .main-content h1.category-name {
    width: calc(100% - 250px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .shop-page .category-content .main-content nav.breadcrumbs {
    width: 100%;
  }
  .product-top-container .content-wrapper {
    min-height: 368px;
  }
  .product-top-container .top-prod-info {
    flex-direction: column;
  }
  .top-prod-info .prod-name,
  .top-prod-info .prod-pricing {
    width: 100%;
  }
  .top-prod-info .prod-name {
    padding-bottom: 12px;
  }
  .top-prod-info .prod-pricing {
    padding: 12px;
  }
  .top-prod-info .prod-name h1 {
    font-size: 31px;
  }
  .details-content aside.sidebar .sidebar-suggestions,
  .details-content aside.sidebar .sidebar-socials {
    padding: 12px;
  }
  .top-versus-holder .item-25.left-side-item,
  .top-versus-holder .item-25.right-side-item {
    display: none;
  }
  .item-25 .deal-score-container {
    display: flex;
  }
  .item-25.center-item {
    width: 50%;
  }
  .comparing-holder,
  .vs-reviews-container,
  .vs-offers-container {
    flex-direction: column;
  }
  .comparing-holder .comparing-image,
  .comparing-holder .products-compare-container,
  .vs-reviews-container .vs-reviews,
  .vs-offers-container .vs-offer {
    width: 100%;
  }
  .comparing-holder .products-compare-container,
  .vs-reviews-container .vs-reviews {
    padding: 18px;
  }
  body.scrolled .page-container.compare-page section.product-details {
    padding-top: 294px;
  }
  .comparing-container .product-item .item-info figure img {
    height: 80px;
  }
}

@media screen and (max-width: 838px) {
  .tracking-info-slogan {
    padding: 24px;
  }
  .products-list-container .listing-description {
    width: 65%;
    margin: 18px auto;
  }
  .tab-listing-item {
    width: 33.3%;
  }
  .video-content iframe {
    height: 364px;
  }
  .news-reviews-list {
    flex-wrap: wrap;
  }
  .news-reviews-list .news-review-item {
    flex: auto;
    width: calc(50% - 12px);
  }
  footer .footer-content {
    padding: 0 6px;
  }
  .footer-content .footer-item {
    margin: 0 6px;
    padding: 0;
  }
  .newsletter-input input {
    font-size: 14px;
    padding: 12px 0 12px 6px;
  }
  .newsletter-input button.newsletter-subscribe {
    padding: 12px 6px;
    font-size: 15px;
    font-weight: 300;
  }
  .affiliate-search {
    padding: 0 12px;
  }
  .affiliate-search .search-deal-holder {
    min-width: inherit;
    max-width: 100%;
    width: 100%;
  }
  .product-info {
    flex-direction: column;
  }
  .product-info .product-gallery,
  .product-info .product-specifications {
    width: 100%;
  }
  .product-info .product-gallery {
    padding: 0 0 24px 0;
  }
  a.button-write-review {
    font-size: 16px;
    padding: 8px 12px;
  }
  .top-offers .offer-item {
    width: 50%;
  }
  header.extra-header .content-wrapper .extra-header-holder {
    width: 68%;
  }
  header.extra-header .content-wrapper .prod-pricing {
    width: 32%;
  }
  .prod-name .category-info {
    padding-bottom: 12px;
  }
  .details-wide nav.breadcrumbs {
    font-size: 13px;
  }
  .details-wide .sidebar .sidebar-holder {
    flex-direction: column;
  }
  .details-wide .sidebar .sidebar-holder .sidebar-suggestions {
    order: initial;
    border-left: 1px solid #dce0e0;
  }
  .details-content aside.sidebar .sidebar-socials,
  .details-wide .sidebar .sidebar-holder .sidebar-suggestions {
    border-top: none;
  }
  .details-wide .related-products-list .related-product-item,
  .top-products-list .top-item {
    width: 33%;
  }
  .product-listing-content .listing-list-item {
    flex-direction: column;
  }
  .listing-list-item figure {
    margin: 0 0 12px 0;
  }
  .item-details, .item-additional-info {
    padding: 0 0 12px 0;
    text-align: center;
    width: 100%;
  }
  .item-price-action {
    max-width: 100%;
    padding: 0;
  }
  .top-ten-holder {
    position: relative;
  }
  .top-headings {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .top-banner {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .line-charts-container {
    padding: 30px 18px;
  }
  .top-product-specification .content-wrapper {
    padding: 0 18px;
  }
  .versus-specifications .content-wrapper {
    padding: 30px 18px 0;
  }
}

@media screen and (max-width: 777px) {
  .price-offer {
    flex-direction: column;
  }
  .price-offer .extra-price {
    font-size: 18px;
    line-height: 17px;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .price-offer a.button-choose {
    font-size: 14px;
    padding: 5px 12px;
    white-space: nowrap;
  }
  .top-ten-products {
    padding: 30px 0 0 0;
  }
  .top-banner {
    width: auto;
    height: calc(100% + 30px);
  }
  .top-product-offers {
    flex-wrap: wrap;
  }
  .top-product-offers figure {
    width: 100%;
    padding: 0 0 24px 0;
    text-align: center;
  }
  .top-product-offers .best-offers {
    width: 100%;
  }
  section.top-text h2,
  section.top-text h3 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .top-versus-holder {
    flex-direction: column;
  }
  .top-versus-holder .item-33 {
    width: 50%;
  }
  .top-versus-holder .item-33.versus-vs {
    align-self: center;
  }
  .top-versus-holder .item-33:last-of-type {
    align-self: flex-end;
  }
  .item-33.versus-vs .vs-slash {
    top: 12px;
  }
  .no-header .top-text .vs-suggestions {
    flex-wrap: wrap;
  }
  .no-header .top-text .vs-suggestions .suggestion-stores {
    width: 100%;
  }
}

@media screen and (max-width: 738px) {
  .header-navigation .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-container > li > a i.fa-angle-down {
    transform: rotate(270deg);
    margin: 1px 0 0 6px;
  }
  .nav-container > li > ul.sub-menu {
    left: 98%;
    top: 0;
  }
  .nav-container > li > ul.sub-menu::before {
    top: 12px;
    left: -6px;
    border-width: 6px 6px 6px 0;
    border-color: transparent #FFFFFF transparent;
  }
  .nav-container > li > ul.sub-menu li a {
    font-size: 14px;
    padding: 12px;
  }
  .video-content iframe {
    height: 320px;
  }
  footer {
    padding: 24px 0 36px;
  }
  footer .footer-content {
    padding: 0 18px;
    flex-wrap: wrap;
  }
  .footer-content .footer-item {
    margin: 0;
    padding: 0 0 18px 0;
  }
  .footer-content .footer-item:last-child {
    padding: 0;
    flex: auto;
  }
  .footer-item h5 {
    padding-bottom: 12px;
  }
  .newsletter-input input {
    font-size: 15px;
    padding: 12px;
  }
  .newsletter-input button.newsletter-subscribe {
    font-size: 16px;
    font-weight: 400;
    min-width: 150px;
    padding: 12px;
  }
  .anchor-links a {
    margin-right: 8px;
  }
  .details-wide .extra-name-links h2 {
    display: none;
  }
  .details-wide .extra-name-links {
    align-self: center;
  }
  .details-wide .extra-name-links .anchor-links {
    flex-wrap: wrap;
  }
  .product-photos-container .photo-item {
    flex-basis: 33%;
  }
  .tab-listing-item,
  .details-wide .related-products-list .related-product-item,
  .top-products-list .top-item {
    width: 50%;
  }
  .content-links-container a {
    padding: 12px;
    font-size: 13px;
  }
  .top-headings .top-info {
    font-size: 28px;
  }
  .top-headings .top-info.type-product {
    font-size: 38px;
  }
  .top-headings .top-info.sub-title {
    font-size: 27px;
    margin-left: 33px;
  }
  .table-col .offers-list .top-offer-item .offer-store {
    font-size: 12px;
  }
  .table-col .offers-list .top-offer-item .offer-price {
    font-size: 14px;
    min-width: 92px;
    max-width: 93px;
  }
  .table-col .vs-review-item .vs-review-comment,
  .table-col .table-compare-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 636px) {
  header.extra-header .content-wrapper {
    padding: 10px 12px;
  }
  .extra-name-links h2 {
    display: none;
    visibility: hidden;
  }
  .extra-name-links .anchor-links {
    flex-wrap: wrap;
  }
  .extra-name-links .anchor-links a {
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .details-block .details-toggle-content,
  .details-block h4,
  .expert-score-description {
    padding: 12px;
  }
  .details-wide .details-block .details-toggle-content {
    padding: 0 0 18px 0;
  }
  .details-block .details-toggle-content .store-offer {
    flex-wrap: wrap;
  }
  .store-offer .store-logo,
  .store-offer .store-name {
    margin-bottom: 12px;
  }
  .store-offer .store-name {
    max-width: calc(100% - 125px);
  }
  .expert-score-description .description-conclusion {
    flex-wrap: wrap;
  }
  .description-conclusion > div {
    width: 100%;
  }
  .description-conclusion .product-positive {
    padding-bottom: 12px;
  }
  .user-reviews-container {
    flex-wrap: wrap;
  }
  .user-reviews-container .total-rate {
    order: 1;
    flex-basis: 50%;
  }
  .user-reviews-container .rate-by-stars {
    order: 3;
    flex-basis: 100%;
    border: none;
    border-top: 1px solid #ededed;
    padding-top: 12px;
    margin-top: 18px;
  }
  .user-reviews-container .write-review {
    order: 2;
    flex-basis: 50%;
  }
  form.review-form .positive-negative-comment {
    flex-wrap: wrap;
  }
  form.review-form .positive-negative-comment label {
    width: 100%;
    margin-bottom: 12px;
  }
  .related-products-container {
    margin: 0 -6px;
  }
  .related-products-container .related-product-holder {
    padding: 6px;
  }
  .top-offers .offer-item {
    width: 100%;
    border-bottom: 1px solid #eee;
  }
  .top-offers .offer-item:last-of-type {
    border-bottom: none;
  }
  .comparing-block,
  .compare-products {
    padding: 18px 0;
  }
  .product-item .wish-or-compare {
    padding: 5px;
    top: 6px;
    left: 6px;
  }
  .table-col .offers-list .top-offer-item .offer-price {
    min-width: 82px;
    max-width: 82px;
    padding: 5px;
  }
  .other-comparisons-holder {
    flex-wrap: wrap;
  }
  .other-comparisons-holder a {
    width: 100%;
  }
  .other-comparisons-holder a:first-of-type {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 616px) {
  .product-details nav.breadcrumbs {
    width: 55%;
  }
  .details-wide .product-details nav.breadcrumbs,
  .details-wide .product-details nav.breadcrumbs {
    width: 100%;
  }
  .search-and-compare .content-wrapper {
    max-width: 400px;
  }
  .search-compare-holder {
    padding: 0;
  }
  .search-box label input {
    height: 42px;
    width: 100%;
    padding: 0 0 0 18px;
    font-size: 16px;
  }
  .search-box button.search-button {
    padding: 0 24px;
  }
  .discounts-carousel {
    max-width: 294px;
  }
  .products-list-container .listing-description {
    width: 85%;
  }
  .tabs-container .tabs-headings span.tab-title {
    font-size: 14px;
    line-height: 15px;
    padding: 8px 0;
    margin-right: 24px;
  }
  .tabs-container .tabs-headings span.tab-title:last-child {
    margin-right: 0;
  }
  .video-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .video-content iframe {
    height: 282px;
  }
  .latest-news .latest-news-title {
    font-size: 11px;
    margin-right: 0;
    padding: 3px 6px;
    white-space: nowrap;
  }
  .latest-articles li {
    padding: 0 0 2px 0;
  }
  .latest-articles li a {
    font-size: 14px;
  }
  .search-deal-holder h2.heading {
    font-size: 48px;
  }
  .search-deal-holder .search-box label input {
    font-size: 17px;
  }
  .search-deal-holder .search-box button.search-button {
    font-size: 16px;
  }
  section.partners a.go-home {
    font-size: 14px;
  }
  .category-content .main-content {
    padding-top: 92px;
  }
  .shop-page .category-content .main-content {
    padding-top: 0;
  }
  .filters-container .filters-title,
  nav.breadcrumbs,
  .compare-page .product-details nav.breadcrumbs,
  .category-content .main-content h1.category-name {
    width: 100%;
    padding-bottom: 12px;
  }
  .filter-options label > span i {
    margin-right: 4px;
  }
  .filters-details .filters-actions {
    justify-content: center;
  }
  .category-content .category-products .category-product-item {
    width: 50%;
  }
  .category-content .sidebar {
    width: calc(100% - 24px);
    left: 12px;
  }
  .product-top-container .content-wrapper {
    max-height: 100vh;
  }
  header.extra-header .content-wrapper .extra-header-holder {
    width: 62%;
  }
  header.extra-header .content-wrapper .prod-pricing {
    width: 38%;
  }
  h1.product-name span.product-add-to {
    display: flex;
    flex-direction: column;
  }
  span.product-add-to button.add-to-button.wishlist-btn {
    margin-bottom: 6px;
  }
  .content-links-container a {
    padding: 8px;
  }
  .page-container:not(.no-header) section.top-text.top-versus {
    background: #1f1a21;
  }
  .top-versus-holder {
    flex-wrap: wrap;
  }
  .top-versus-holder .item-25.center-item {
    width: 100%;
  }
  .products-compare-container .versus-row,
  .products-compare-container .versus-row.products-row {
    flex-direction: column;
    margin-bottom: 12px;
  }
  .versus-row .versus-title {
    width: 100%;
    padding: 0 0 12px 0;
    text-align: center;
  }
  .versus-row .versus-comparing {
    width: 100%;
  }
  .why-buy-container {
    flex-wrap: wrap;
  }
  .why-buy-container .why-buy-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-buy-container .why-buy-product:first-of-type {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 555px) {
  .nav-container > li > a i.fa-angle-down {
    transform: none;
    margin: 5px 0 0 6px;
  }
  .nav-container > li > ul.sub-menu {
    left: 0;
    top: 100%;
  }
  .nav-container > li > ul.sub-menu::before {
    top: -5px;
    left: 18px;
    border-width: 0 6px 6px;
    border-color: transparent transparent #FFFFFF;
  }
  .nav-container li:hover > ul.sub-menu {
    min-width: 100%;
  }
  .products-list-container .listing-description {
    width: 100%;
  }
  .product-details nav.breadcrumbs {
    width: 45%;
  }
  .details-wide .product-details nav.breadcrumbs {
    width: 100%;
  }
  .expert-score-description .expert-score-top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .expert-score-top .score-container {
    margin-right: 0;
  }
  .expert-score-top ul {
    padding: 18px 12px 0;
  }
  .related-products-container {
    margin: 0;
  }
  .related-products-container .related-product-holder {
    width: 100%;
    padding: 6px 0;
  }
  header.extra-header .content-wrapper .extra-header-holder {
    width: 68%;
  }
  header.extra-header .content-wrapper .prod-pricing {
    width: 32%;
    font-size: 14px;
  }
  header.extra-header .content-wrapper .prod-pricing .new-price {
    font-size: 17px;
  }
  .top-prod-info .prod-pricing {
    font-size: 20px;
  }
  .prod-pricing .new-price {
    font-size: 26px;
  }
  .sidebar-suggestions .buy-best a.button-best-buy {
    max-width: initial;
  }
  .sidebar-suggestions .suggestion-stores {
    flex-direction: column;
  }
  .sidebar-suggestions .suggestion-stores a {
    width: 100%;
  }
  .sidebar-suggestions .suggestion-stores a:first-of-type {
    margin-bottom: 12px;
  }
  .content-links-container a {
    text-align: center;
  }
  a.button-write-review {
    font-size: 14px;
  }
  .product-photos-container .photo-item {
    flex-basis: 50%;
  }
  .users-reviews-list .reviews-tabs-headings span {
    padding: 6px;
  }
  section.top-text h2 {
    font-size: 38px;
  }
  .winner-alert-form form {
    flex-wrap: wrap;
  }
  .winner-alert-form form label {
    width: 100%;
    margin-bottom: 12px;
  }
  .winner-alert-form form button {
    width: 100%;
  }
  .top-versus-holder .item-33:first-of-type,
  .top-versus-holder .item-33:last-of-type {
    align-items: center;
    align-self: center;
    width: 75%;
    text-align: center;
  }
  .top-versus-holder .item-33.versus-vs {
    margin: 24px 0;
  }
  h1.comparable-prods-titles {
    font-size: 20px;
  }
  .compare-page .details-content .main-content {
    padding: 0 6px;
  }
  .comparing-container.fix-comparing {
    width: calc(100% - 12px);
  }
  .table-col .offers-list .top-offer-item .offer-price {
    min-width: inherit;
    padding: 5px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .comparing-block .compare-table .table-col {
    width: 33.3%;
    padding: 12px 6px;
  }
  .table-col.scrolling-list li .faq-description span {
    font-size: 13px;
  }
  .table-col .table-compare-text {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .header-container #mobile-menu-trigger:checked + .header-navigation {
    padding: 0 6px;
  }
  .nav-container > li {
    padding: 12px 0;
  }
  .nav-container > li > a {
    white-space: nowrap;
    letter-spacing: -0.6px;
  }
  .tracking-info-slogan {
    padding: 18px;
  }
  .tracking-info-slogan h3 {
    font-size: 20px;
  }
  .discounts-container {
    padding: 30px 0 12px;
  }
  section.product-listing {
    padding-top: 18px;
  }
  .tabs-container .tabs-headings {
    margin-bottom: 12px;
  }
  .tabs-container .tabs-headings span.tab-title {
    margin-right: 12px;
    font-size: 13px;
  }
  .listing .tab-content.active-tab {
    margin: 0;
  }
  .listing .tab-content.active-tab .tab-listing-item,
  .top-products-list .top-item {
    padding: 0 12px 24px;
    width: 100%;
  }
  .video-content {
    padding-left: 0;
    padding-right: 0;
  }
  .video-content iframe {
    height: 250px;
  }
  .latest-news .latest-news-title {
    font-size: 10px;
  }
  .latest-news-items button.switch-button {
    padding: 0;
  }
  .latest-news-items button.switch-button:first-of-type {
    margin-left: 6px;
  }
  .latest-news-items button.switch-button:last-of-type {
    margin-right: 6px;
  }
  .latest-articles li a {
    font-size: 13px;
    display: block;
    height: 18px;
    overflow: hidden;
  }
  .news-review-item .news-reviews-banner {
    margin-bottom: 12px;
  }
  .news-review-item .news-reviews-title {
    padding: 0 12px 42px;
  }
  .news-reviews-title .type {
    left: 12px;
    bottom: 12px;
  }
  .footer-content .footer-item {
    flex: auto;
  }
  .footer-item p {
    padding-bottom: 0;
  }
  .footer-item .footer-links {
    justify-content: space-between;
  }
  .footer-links .footer-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    align-self: flex-start;
  }
  .footer-item h5 {
    padding-bottom: 8px;
    flex-basis: 100%;
  }
  .footer-info a {
    margin-bottom: 6px;
    margin-right: 12px;
  }
  .search-deal-holder h2.heading {
    font-size: 42px;
  }
  .search-deal-holder .sub-heading {
    font-size: 14px;
  }
  .search-deal-holder .search-box button.search-button {
    padding: 0 16px;
  }
  section.partners a.go-home {
    font-size: 12px;
  }
  .content-wrapper .extra-product-picture {
    display: none;
    visibility: hidden;
  }
  .product-details .breadcrumbs-holder {
    display: flex;
    flex-direction: column;
  }
  .product-details .breadcrumbs-holder .breadcrumbs {
    width: 100%;
    order: 1;
  }
  .product-details .breadcrumbs-holder .last-updated {
    float: none;
    order: 2;
    padding: 0 0 12px 0;
  }
  .deal-pricing-container .pricing-info {
    flex-wrap: wrap;
  }
  .pricing-info .product-price {
    font-size: 22px;
  }
  .store-offer .store-name a {
    font-size: 14px;
  }
  .content-links-container a {
    font-size: 12px;
    word-wrap: break-word;
  }
  table.spec-table td {
    font-size: 12px;
  }
  .user-reviews-container .total-rate,
  .user-reviews-container .write-review {
    padding: 0;
  }
  .details-wide header.extra-header .content-wrapper,
  .details-wide .details-content .sidebar {
    padding: 0 12px;
  }
  .product-top-container .content-wrapper {
    padding: 24px 12px 0;
  }
  .details-wide .related-products-list,
  .top-products-list {
    margin: 0;
  }
  .details-wide .related-products-list .related-product-item,
  .category-content .category-products .category-product-item {
    width: 100%;
  }
  .user-review-item .user-avatar {
    width: 50px;
    height: 50px;
  }
  .review-details .user-rate-comment {
    font-size: 13px;
  }
  .top-headings .top-info {
    font-size: 24px;
  }
  .top-headings .top-info.type-product,
  section.top-text h2 {
    font-size: 34px;
  }
  .top-headings .top-info.sub-title {
    font-size: 23px;
  }
  .table-col .compare-icon i {
    font-size: 20px;
  }
  .table-col .compare-icon span {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  .extra-name-links .anchor-links a {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  body.scrolled .details-wide header.extra-header {
    height: 66px;
  }
  .details-wide .extra-name-links .anchor-links a {
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .search-and-compare .content-wrapper {
    max-width: 360px;
  }
  .search-compare-holder h2 {
    font-size: 34px;
    line-height: 28px;
  }
  .search-box label input {
    height: 39px;
    width: 100%;
    padding: 0 0 0 12px;
    font-size: 15px;
  }
  .tabs-container .tabs-headings span.tab-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .video-content {
    padding: 18px 0 54px;
  }
  .video-content iframe {
    height: 206px;
  }
  .news-reviews-list {
    margin: 0;
  }
  .news-reviews-list .news-review-item {
    width: 100%;
    margin: 0 0 24px 0;
  }
  .newsletter-input button.newsletter-subscribe {
    min-width: 120px;
  }
  .search-deal-holder h2.heading {
    font-size: 36px;
  }
  .product-details .details-content .main-content {
    padding: 0 12px;
  }
  h2.specification-title,
  h2.reviews-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  header.extra-header .content-wrapper .extra-header-holder {
    width: 64%;
  }
  header.extra-header .content-wrapper .prod-pricing {
    width: 36%;
    font-size: 13px;
  }
  .users-reviews-list .reviews-tabs-headings span {
    font-size: 13px;
  }
}

@media screen and (max-width: 838px) and (orientation: landscape) {
  .compare-products {
    padding: 12px 6px;
  }
  .comparing-container .product-item .wish-or-compare,
  .comparing-container .product-item .sale-item,
  .comparing-container .product-item .item-info .product-rate,
  .comparing-container .item-info .category-name {
    display: none;
  }
  .comparing-container .product-item .item-info figure img {
    height: 56px;
  }
  .comparing-container .comparing-parameters,
  .comparing-container .product-item .item-info .product-name {
    padding-top: 6px;
  }
  .comparing-container.comparing-parameters .compare-param {
    font-size: 14px;
  }
  .comparing-container .comparing-parameters .compare-param i {
    margin-bottom: 3px;
  }
  .comparing-container .item-info .best-deal {
    padding-bottom: 0;
  }
  body.scrolled .page-container.compare-page section.product-details {
    padding-top: 180px;
  }
}
