html {scroll-behavior: smooth;}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #111111;
  font-family: 'Roboto', 'Trebuchet MS', Arial, sans-serif;
  font-weight: 400;
}
body * {
  box-sizing: border-box;
  font-family: 'Roboto', 'Trebuchet MS', Arial, sans-serif;
}
a, span.tab-title {
  color: #333333;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #000000;
}
span.tab-title:hover, span.tab-title.active {
  cursor: pointer;
  color: #ff4136;
}

img {
  width: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color: #000000;
}
h4.section-heading, h6.sub-heading {
  text-align: center;
  padding-bottom: 8px;
  line-height: 1;
}
h4.section-heading {
  font-size: 22px;
  color: #333333;
}
h6.sub-heading {
  font-size: 16px;
  color: #878787;
  font-weight: 400;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button {
  outline: none;
}
button {
  border: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}

/* page containers styles */
.page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 40px;
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.holder::after {
  display: block;
  content: '';
  clear: both;
}

/* header styles */
header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 9;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container a.logo {
  margin: 3px 12px 0 0;
}
.header-navigation .nav-container {
  display: flex;
  height: 40px;
}
.nav-container > li {
  display: flex;
  padding: 0 12px;
  position: relative;
  color: #fbfbfb;
}
.nav-container > li::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ff4136;
  height: 3px;
  width: 0;
  transition: width .3s cubic-bezier(.5,0,.5,1);
}
.nav-container > li:hover::after {
  width: 100%;
}
.nav-container > li > a {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  display: flex;
  padding-top: 8px;
}
.nav-container > li > a i {
  font-size: 11px;
  margin: 6px 0 0 6px;
}
.nav-container > li > ul.sub-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  height: 0;
  transform: translateY(10px);
  transition: transform linear .3s, opacity ease-out .2s;
  z-index: -1;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px #ddd;
  border-bottom: 2px solid #ff4136;
}
.nav-container > li > ul.sub-menu::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  top: -5px;
  left: 18px;
  border-width: 0 6px 6px;
  border-color: transparent transparent #fff;
}
.nav-container > li > ul.sub-menu li a {
  font-size: 15px;
  line-height: 16px;
  color: #111111;
  display: block;
  padding: 15px 18px;
  border-top: 1px solid #eee;
  font-weight: 400;
  white-space: nowrap;
}
.nav-container > li > ul.sub-menu li a:hover {
  background-color: #f9f9f9;
}
.nav-container li > ul.sub-menu li:first-child a {
  border-top: none;
}
.nav-container li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  height: auto;
  min-width: 200px;
  z-index: 5;
}

/* Search and Compare section */
.search-and-compare {
  background: url('../assets/images/bg-compare-home.jpg') no-repeat center center;
  background-size: cover;
  padding: 80px 0 120px;
}
.search-and-compare .content-wrapper {
  max-width: 800px;
}
.search-compare-holder {
  padding: 12px 10px;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.search-compare-holder h2 {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 34px;
  padding-bottom: 10px;
}
.slogan {
  padding-bottom: 10px;
  font-size: 16px;
}
.search-box {
  padding: 25px 0;
  display: flex;
}
.search-box label {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.search-box label input {
  border: 1px solid #aea8a8;
  border-right: none;
  height: 52px;
  width: 100%;
  padding: 0 60px 0 20px;
  background-color: #f6f6f6;
  color: #444444;
  font-size: 17px;
}
.search-box button.search-button {
  background-color: #ff4136;
  padding: 0 35px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Tahoma, sans-serif;
}
.alternative a {
  color: #efa61f;
}

/* Discounts Section */
.discounts-container {
  padding: 30px 10px 36px;
}
.discounts-carousel {
  padding: 30px 0 20px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.discounts-carousel button.action-button {
  position: absolute;
  top: 35%;
  background-color: rgba(0, 0, 0, .2);
  color: #FFFFFF;
  padding: 12px;
  border: 1px solid #AAAAAA;
  font-size: 18px;
}
.discounts-carousel button.action-button.active {
  background-color: rgba(0, 0, 0, .5);
}
.discounts-carousel button.action-button:not(.active):hover {
  background-color: rgba(0, 0, 0, .3);
}
.discounts-carousel button.action-button.go-prev {
  left: 0;
}
.discounts-carousel button.action-button.go-next {
  right: 0;
}
.carousel-container {
  white-space: nowrap;
  width: 1500px; /* This value should be counted by JS */
}
.carousel-container .carousel-item {
  float: left;
  width: 295px; /* This value should be counted by JS */
  padding: 0 10px;
}
.carousel-container .carousel-item .discount-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  position: relative;
  width: 100%;
  min-height: 470px;
  transition: transform .3s ease;
}
.carousel-container .carousel-item .discount-item:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.1);
  transform: translateY(-5px);
}
.discount-item .wish-or-compare {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(255,255,255,.78);
  border-radius: 104px;
  padding: 8px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1), -1px -1px 1px 1px rgba(247,251,255,.5), 3px 3px 8px 2px rgba(0,0,0,0) inset;
  z-index: 2;
}
.discount-item .wish-or-compare .wish-item,
.discount-item .wish-or-compare .compare-item {
  color: #AAAAAA;
  opacity: .7;
  cursor: pointer;
}
.discount-item .wish-or-compare .wish-item:hover {
  color: #c00;
  opacity: 1;
}
.discount-item .wish-or-compare .compare-item:hover {
  opacity: 1;
}
.discount-item .item-info {
  display: flex;
  flex-direction: column;
  padding: 30px 12px 0 12px;
}
.item-info .product-picture {
  align-self: center;
  margin-bottom: 12px;
  text-align: center;
}
.item-info .category-name {
  text-transform: uppercase;
  color: #555555;
  font-size: 11px;
}
.item-info .product-name {
  position: relative;
  padding: 10px 0 15px 25px;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  width: 100%;
}
.item-info .product-name a {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-info .product-name i {
  position: absolute;
  color: #ca212a;
  left: 0;
  top: 8px;
  font-size: 22px;
}
.item-info .product-rate {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  cursor: default;
}
.item-info .product-rate .rate-star {
  color: #e0dadf;
  font-size: 19px;
  line-height: 22px;
}
.item-info .product-rate .rate-star.active {
  color: #ff8a00;
}
.item-info .best-deal {
  padding-bottom: 12px;
  font-size: 13px;
  color: #808080;
}
.product-params {
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}
.product-params li {
  list-style: disc outside none;
  margin-left: 15px;
  font-size: 13px;
  color: #333333;
  line-height: 15px;
}
.product-additional-info {
  padding: 12px;
  border-top: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-additional-info .product-price {
  margin-right: 12px;
}
.product-price .current-price {
  font-size: 17px;
  color: #f04057;
  font-weight: 700;
  line-height: 20px;
}
.product-additional-info .more a {
  color: #009700;
  font-size: 14px;
}

/* Section Slogan */
.tracking-info-slogan {
  background-color: #0c0c0c;
  padding: 36px 0;
  text-align: center;
}
.tracking-info-slogan h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
}

/* Section Products Listing */
section.product-listing {
  padding-top: 36px;
}
section.product-listing .products-list-container {
  padding: 10px;
}
.products-list-container .listing-description {
  margin: 18px auto 0;
  padding: 12px;
  border-top: 1px solid #dbdbdb;
  text-align: center;
  width: 45%;
  color: #a8a8a8;
  font-size: 15px;
  line-height: 18px;
}
