html {scroll-behavior: smooth;}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #111111;
  font-family: 'Roboto', 'Trebuchet MS', Arial, sans-serif;
  font-weight: 400;
}
body * {
  box-sizing: border-box;
  font-family: 'Roboto', 'Trebuchet MS', Arial, sans-serif;
}
a, span.tab-title {
  color: #333333;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #000000;
}
span.tab-title:hover, span.tab-title.active {
  cursor: pointer;
  color: #ff4136;
}

figure {
  margin: 0;
}
img {
  width: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  color: #000000;
}
h4.section-heading, h6.sub-heading {
  text-align: center;
  padding-bottom: 8px;
  line-height: 1;
}
h4.section-heading {
  font-size: 22px;
  color: #333333;
}
h6.sub-heading {
  font-size: 16px;
  color: #878787;
  font-weight: 400;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button, textarea, select {
  outline: none;
}
input[hidden] {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
button {
  border: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  background-color: transparent;
}
.text-center {
  text-align: center;
}

/* page containers styles */
.page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 40px;
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.holder::after {
  display: block;
  content: '';
  clear: both;
}

/* header styles */
header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 9;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container a.logo {
  margin: 3px 12px 0 0;
}
.header-container .mobile-menu,
.header-container #mobile-menu-trigger,
.header-container .mobile-menu-overlay {
  display: none;
  opacity: 0;
  height: 0;
}
.header-container .mobile-menu {
  transition: opacity ease .3s, height linear .2s;
}
.header-navigation .nav-container {
  display: flex;
  height: 40px;
}
.nav-container > li {
  display: flex;
  padding: 0 12px;
  position: relative;
  color: #fbfbfb;
}
.nav-container > li::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ff4136;
  height: 3px;
  width: 0;
  transition: width .3s cubic-bezier(.5, 0, .5, 1);
}
.nav-container > li:hover::after {
  width: 100%;
}
.nav-container > li > a {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  display: flex;
  padding-top: 8px;
}
.nav-container > li > a i {
  font-size: 11px;
  margin: 6px 0 0 6px;
}
.nav-container > li > ul.sub-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  height: 0;
  transform: translateY(10px);
  transition: transform linear .3s, opacity ease-out .2s;
  z-index: -1;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px #ddd;
  border-bottom: 2px solid #ff4136;
}
.nav-container > li > ul.sub-menu::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  top: -5px;
  left: 18px;
  border-width: 0 6px 6px;
  border-color: transparent transparent #fff;
}
.nav-container > li > ul.sub-menu li a {
  font-size: 15px;
  line-height: 16px;
  color: #111111;
  display: block;
  padding: 15px 18px;
  border-top: 1px solid #eee;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-container > li > ul.sub-menu li a:hover {
  background-color: #f9f9f9;
}
.nav-container li > ul.sub-menu li:first-child a {
  border-top: none;
}
.nav-container li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  height: auto;
  min-width: 200px;
  z-index: 5;
}

/* Search and Compare section */
.search-and-compare {
  background: url('../assets/images/bg-compare-home.jpg') no-repeat center center;
  background-size: cover;
  padding: 80px 0 120px;
}
.search-and-compare .content-wrapper {
  max-width: 800px;
}
.search-compare-holder {
  padding: 12px 10px;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.search-compare-holder h2 {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 34px;
  padding-bottom: 10px;
}
.search-compare-holder .slogan {
  padding-bottom: 10px;
  font-size: 16px;
}
.search-compare-holder .search-box {
  padding: 25px 0;
  display: flex;
}
.search-box label {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.search-box label input {
  border: 1px solid #aea8a8;
  border-right: none;
  height: 52px;
  width: 100%;
  padding: 0 60px 0 20px;
  background-color: #f6f6f6;
  color: #444444;
  font-size: 17px;
}
.search-box button.search-button {
  background-color: #ff4136;
  padding: 0 35px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Tahoma, sans-serif;
}
.search-compare-holder .alternative a {
  color: #efa61f;
}

/* Discounts Section */
.discounts-container {
  padding: 30px 12px 36px;
}
.discounts-carousel {
  padding: 30px 0 20px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.discounts-carousel button.action-button {
  position: absolute;
  top: 35%;
  background-color: rgba(0, 0, 0, .2);
  color: #FFFFFF;
  padding: 12px;
  border: 1px solid #AAAAAA;
  font-size: 18px;
}
.discounts-carousel button.action-button.active {
  background-color: rgba(0, 0, 0, .5);
}
.discounts-carousel button.action-button:not(.active):hover {
  background-color: rgba(0, 0, 0, .3);
}
.discounts-carousel button.action-button.go-prev {
  left: 0;
}
.discounts-carousel button.action-button.go-next {
  right: 0;
}
.carousel-container {
  white-space: nowrap;
  width: 1500px; /* This value should be counted by JS */
}
.carousel-container .carousel-item {
  float: left;
  width: 294px; /* This value should be counted by JS */
  padding: 0 10px;
  display: flex;
}
.carousel-container .carousel-item .product-item {
  min-height: 470px;
}

/* Section Slogan */
.tracking-info-slogan {
  background-color: #0c0c0c;
  padding: 36px 0;
  text-align: center;
}
.tracking-info-slogan h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
}

/* Breadcrumbs styles */
nav.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-bottom: 30px;
}
nav.breadcrumbs .separator {
  margin: 0 12px;
  line-height: 17px;
}
nav.breadcrumbs a:hover {
  text-decoration: underline;
}
nav.breadcrumbs a.breadcrumbs-link {
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 3px;
  transition: background-color ease .3s;
}
nav.breadcrumbs a.breadcrumbs-link:hover {
  text-decoration: none;
  background-color: #eaeaea;
  transition: background-color ease .3s;
}

/* Section Products Listing */
section.product-listing {
  padding-top: 36px;
}
section.product-listing .products-list-container {
  padding: 12px;
}
.products-list-container .listing-description {
  margin: 18px auto 30px;
  padding: 12px;
  border-top: 1px solid #dbdbdb;
  text-align: center;
  width: 45%;
  color: #a8a8a8;
  font-size: 15px;
  line-height: 18px;
}
.tabs-container {
  position: relative;
  margin-bottom: 18px;
}
.tabs-container .tabs-headings {
  display: flex;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 18px;
}
.tabs-container .tabs-headings span.tab-title {
  font-size: 15px;
  line-height: 16px;
  transition: color ease .3s;
  padding: 12px 16px;
}
.tab-content {
  display: none;
}
.tab-content.active-tab {
  display: flex;
  flex-wrap: wrap;
}
.listing .tab-content.active-tab {
  margin: 0 -12px;
}
.tab-listing-item {
  width: 20%;
  padding: 0 12px 24px;
}
.tab-listing-item .product-params li {
  list-style: none;
  margin-left: 0;
  font-size: 13px;
  color: #333333;
  line-height: 15px;
}
.tab-listing-item .product-params li span {
  color: #999999;
}

/* Video Section */
section.info-section {
  background: #0C0C0C url('../assets/images/ripover.png') no-repeat top center;
  padding-top: 120px;
  position: relative;
}
section.info-section .content-wrapper {
  position: relative;
  z-index: 2;
}
.info-section .section-heading {
  color: #FFFFFF;
}
.info-section .sub-heading {
  color: #cecece;
}
.video-content {
  padding: 24px 0 84px;
  position: relative;
}
section.info-section .bottom-animated {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* News Reviews Section */
.news-reviews-container {
  padding: 40px 0;
}
.latest-news {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.latest-news .latest-news-title {
  background-color: #ff4136;
  font-size: 12px;
  font-family: Arial, Tahoma, sans-serif;
  color: #FFFFFF;
  padding: 3px 7px;
  border-radius: 3px;
  margin-right: 6px;
  text-transform: uppercase;
}
.latest-news .latest-news-items {
  display: flex;
  align-items: center;
}
.latest-news-items button.switch-button {
  background-color: transparent;
  padding: 3px;
  margin: 0 3px;
  font-size: 16px;
}
.latest-articles {
  position: relative;
  height: 18px;
  overflow: hidden;
}
.latest-articles li {
  padding: 0 0 2px 6px;
}
.latest-articles li a,
.latest-articles li a:hover {
  color: #000000;
  text-decoration: underline;
}
.news-reviews-list {
  display: flex;
  margin: 0 -12px;
}
.news-reviews-list .news-review-item {
  margin: 0 12px 24px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, .15) 0 1px 2px;
  border-top: 1px solid #efefef;
  position: relative;
  flex: 1;
}
.news-review-item .like-review {
  position: absolute;
  top: 6px;
  right: 8px;
  color: #AAAAAA;
  transition: color ease .3s;
}
.news-review-item .like-review:hover {
  cursor: pointer;
  color: #cc0000;
}
.news-review-item .news-reviews-banner {
  margin-bottom: 18px;
}
.news-reviews-banner a {
  display: block;
  font-size: 0;
  text-align: center;
}
.news-review-item .news-reviews-title {
  padding: 0 18px 48px;
}
.news-reviews-title h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}
.news-reviews-title h6 a {
  transition: color ease .3s;
}
.news-reviews-title h6 a:hover {
  color: #ff4136;
}
.news-reviews-title .type {
  font-style: italic;
  font-size: 12px;
  position: absolute;
  left: 18px;
  bottom: 18px;
}

/* Footer Section */
footer {
  background: #282727 url('../assets/images/footerbg.jpg') no-repeat center bottom;
  padding: 42px 0 60px;
}
footer .footer-content {
  display: flex;
  margin: 0 -18px;
}
.footer-content .footer-item {
  margin: 0 18px;
  padding: 12px 0;
  flex: 1;
  color: #CCCCCC;
}
.footer-item h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #F1F1F1;
  padding-bottom: 18px;
}
.footer-item p {
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 18px;
}
.footer-item .footer-links {
  display: flex;
  justify-content: space-around;
}
.footer-links .footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-info a {
  font-size: 14px;
  text-decoration: underline;
  color: #F1F1F1;
  line-height: 18px;
  margin-bottom: 8px;
}
.footer-item form label {
  font-size: 12px;
  display: block;
  margin-bottom: 24px;
}
.footer-item form .newsletter-input {
  display: flex;
}
.newsletter-input input {
  border: none;
  flex-grow: 1;
  font-size: 15px;
  padding: 12px 10px;
  border-radius: 0;
  background-color: #f6f6f6;
  color: #444444;
}
.newsletter-input button.newsletter-subscribe {
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  min-width: 150px;
  background-color: #5eb936;
  padding: 12px 10px;
  margin: 0;
}

/* Items styles */
.alert-price {
  color: #009700;
  font-size: 13px;
  white-space: nowrap;
}
.alert-price:hover {
  color: #058e05;
  cursor: pointer;
}
.last-updated {
  font-size: 10px;
  padding: 6px 0 0 18px;
  white-space: nowrap;
}
.expert-score-description {
  padding: 18px;
  border: 1px dashed #DDDDDD;
}
.expert-score-description .expert-score-top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.expert-score-top .score-container {
  text-align: center;
  margin-right: 24px;
}
.expert-score-top .score-value {
  background-color: #e43917;
  color: #FFFFFF;
  font-size: 52px;
  line-height: 1;
  padding: 6px 12px;
}
.expert-score-top .score-title {
  background: #000000;
  color: #FFFFFF;
  font-weight: 700;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 11px;
}
.expert-score-top ul li {
  list-style: disc outside none;
  margin-left: 12px;
  padding-bottom: 6px;
  font-size: 16px;
}
.expert-score-top ul li:last-of-type {
  padding-bottom: 0;
}
.expert-score-description .score-bars {
  border-top: 1px solid #ededed;
}
.score-bars .bar-item {
  padding-top: 18px;
}
.bar-item .score-name {
  font-size: 14px;
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar-item .bar-line-bg {
  position: relative;
  width: 100%;
  background: #DDDDDD;
  height: 14px;
  line-height: 0;
  font-size: 0;
}
.bar-item .bar-line-bg > div {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #e43917;
}
.expert-score-description .description-conclusion {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.description-conclusion > div {
  width: 49%;
  font-size: 16px;
}
.description-conclusion > div h6 {
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 12px;
  font-size: 16px;
}
.description-conclusion > div i {
  font-size: 18px;
}
.description-conclusion > div li {
  padding-bottom: 8px;
}
.product-positive h6,
.product-positive i {
  color: #58c649;
}
.product-negative h6,
.product-negative i {
  color: #f24f4f;
}
.suggestion-stores a {
  display: flex;
  border: 1px solid #DDDDDD;
  border-radius: 100px;
  margin-bottom: 12px;
}
.suggestion-stores a:hover {
  box-shadow: 0 3px 0 1px #ddd;
}
.suggestion-stores a > span {
  width: 50%;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
}
.suggestion-stores a span.store-picture {
  border-right: 1px solid #DDDDDD;
  justify-content: center;
}
.suggestion-stores a span.store-suggestion {
  justify-content: space-between;
}
span.store-suggestion .suggestion-price {
  display: inline-flex;
  flex-direction: column;
  color: #111111;
}
.suggestion-price .store-price {
  font-weight: 700;
}
.suggestion-price .store-name,
.suggestion-price .stock-out {
  color: #999999;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  font-style: italic;
}
.suggestion-price .stock-out {
  color: #ff4136;
  font-weight: bold;
  margin-top: 3px;
  font-style: normal;
}
span.store-suggestion i.fa {
  color: #ff4136;
  font-size: 20px;
}
.suggestion-stores a:hover span.store-suggestion i.fa {
  color: #0C0C0C;
}
