/* Styles for the "Top Multi" page */
footer .newsletter-input button.newsletter-subscribe {
  background-color: #ff4136;
}
.top-ten-products {
  background: url('../assets/images/multi-top-bg.jpg') no-repeat center center;
  overflow: hidden;
  transition: background .3s ease;
  padding: 90px 0 0;
}
.top-ten-holder {
  display: flex;
}
.top-headings,
.top-banner {
  width: 50%;
}
.top-headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 12px;
}
.top-headings .top-info {
  background-color: #FFFFFF;
  font-size: 32px;
  border-bottom: 9px solid #CCCCCC;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0 10px;
  line-height: 48px;
}
.top-headings .top-info i {
  color: #ff003f;
  font-size: 24px;
  margin-right: 6px;
}
.top-headings .top-info.type-product {
  margin-left: 0;
  font-size: 45px;
  font-weight: 700;
  color: #ff003f;
  padding: 6px 12px;
}
.top-headings .top-info.sub-title {
  margin-left: 40px;
  font-size: 31px;
}
section.product-listing {
  padding-top: 42px;
}
.product-listing .content-wrapper {
  padding: 0 12px;
}
.top-products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.top-products-list .top-item {
  width: 20%;
  padding: 0 12px 24px;
}
.top-product-specification {
  padding: 30px 0;
}
.top-product-specification .content-wrapper {
  max-width: 800px;
}
.top-product-specification p {
  margin-bottom: 30px;
  font-size: 16px;
}
.top-product-specification p.holder span {
  float: left;
  font-size: 50px;
  line-height: 42px;
  margin-right: 8px;
}
.top-product-block {
  border: 1px solid #ededed;
  overflow: hidden;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
}
.top-product-block h4 {
  border-bottom: 1px solid #ededed;
  padding: 12px 15px;
  background: #fafafa;
  font-size: 17px;
  line-height: 18px;
}
.top-product-offers {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.top-product-offers figure {
  padding: 0 24px 24px 0;
  width: 53%;
}
.top-product-offers .best-offers {
  width: 47%;
}
.last-updated {
  padding: 0 0 12px 0;
}
.top-details-content {
  padding-bottom: 36px;
}
.top-details-content h5 {
  font-size: 21px;
  margin: 18px 0 12px;
}
.top-details-content p {
  margin-bottom: 12px;
}
.top-winner {
  display: flex;
  padding: 30px 0;
}
.top-winner .winner-image,
.winner-actions {
  width: 50%;
  padding: 12px;
}
.winner-actions .suggestion-stores {
  flex-direction: column !important;
}
.winner-actions .suggestion-stores a {
  margin-bottom: 12px;
}
.winner-set-alert {
  border: 1px solid #eeeeee;
}
.winner-set-alert h4 {
  background-color: #f4f4f4;
  border-bottom: 1px solid #eeeeee;
  font-size: 18px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
}
.winner-set-alert h4 span {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 3px 6px;
  margin-right: 12px;
}
.winner-set-alert h4 span i {
  color: #ff4136;
}
.winner-alert-form {
  padding: 12px 18px;
}
.winner-alert-form form {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
.winner-alert-form form label {
  width: 33%;
}
.winner-alert-form form label input {
  padding: 9px 10px;
  color: #444;
  background: none #fff;
  border: 1px solid #ccc;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  transition: border-color .4s ease;
  width: 100%;
}
.winner-alert-form form label input:focus {
  border-color: #444;
}
.winner-alert-form form button {
  width: 25%;
  box-shadow: 0 18px 38px 0 rgba(0, 0, 0, .06), 0 8px 40px 0 rgba(0, 0, 0, .06);
  background-color: #ff4136;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  padding: 10px 12px;
  white-space: nowrap;
  transition: box-shadow .5s linear, opacity .3s linear;
}
.winner-alert-form form button:hover {
  box-shadow: -1px 6px 13px #d3d3d3;
  opacity: .9;
}
