/* Styles for the "Versus 1" page */
footer .newsletter-input button.newsletter-subscribe {
  background-color: #ff4136;
}
section.top-text.top-versus {
  background-size: initial;
  padding: 48px 0;
}
.top-versus-holder {
  display: flex;
}
.top-versus-holder .item-25 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.top-versus-holder .item-25.left-side-item {
  text-align: right;
}
.top-versus-holder .item-25.right-side-item {
  text-align: left;
}
.top-versus-holder .item-25.center-item {
  text-align: center;
  justify-content: flex-end;
}
.top-versus-holder .item-25 h6 {
  font-size: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.top-versus-holder .item-25 h6 span {
  display: block;
  color: #ffa500;
}
.item-25 .short-description {
  font-size: 16px;
  color: #afafaf;
  margin: 6px 0 18px;
}
.top-parameter {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  color: #FFFFFF;
}
.top-parameter::before {
  content: '•';
  display: block;
  margin-right: 6px;
}
.top-parameter:last-of-type {
  padding-bottom: 0;
}
.item-25.left-side-item .top-parameter {
  justify-content: flex-end;
}
.item-25.center-item figure {
  margin-bottom: 12px;
}
.deal-score-container {
  display: flex;
  justify-content: center;
}
.deal-score-container .score-counter {
  display: flex;
  height: 32px;
  font-size: 14px;
  background: #96ca4e;
  line-height: 32px;
  border-radius: 4px;
  margin-right: 10px;
}
.score-counter div:not(.count) {
  padding: 0 12px;
  color: #fff;
  font-weight: 400;
}
.score-counter div.count {
  width: auto;
  min-width: 50px;
  font-size: 18px;
  background: #daecc2;
  padding: 0 5px;
  color: #333333;
  border-radius: 0 4px 4px 0;
}
.deal-score-container .like-container,
.deal-score-container .dislike-container {
  height: 32px;
  width: 32px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #dcddde;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .3s ease-out, color .2s ease-in;
}
.deal-score-container .like-container {
  color: #67a827;
  margin-right: 8px;
}
.deal-score-container .dislike-container {
  color: #cc0000;
}
.deal-score-container .like-container:hover {
  background-color: #67a827;
  border-color: #67a827;
  color: #FFFFFF;
}
.deal-score-container .dislike-container:hover {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #FFFFFF;
}
.comparing-holder {
  padding: 30px 0;
  display: flex;
}
.comparing-holder .comparing-image {
  width: 20%;
  text-align: center;
}
.comparing-holder .products-compare-container {
  width: 60%;
  padding: 0 18px;
}
.comparing-image figure {
  margin-bottom: 18px;
}
.comparing-image a.choose-your {
  display: inline-block;
  color: #fff;
  background-color: #f20800;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
}
.products-compare-container .versus-row {
  padding: 6px;
  display: flex;
  align-items: flex-start;
}
.products-compare-container .versus-row.products-row {
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 6px;
}
.versus-row .versus-title {
  width: 40%;
  padding: 0 10px;
  line-height: 28px;
}
.versus-title .vs-names {
  font-size: 17px;
  font-weight: 400;
}
.versus-title .versus-subtitle {
  font-size: 13px;
  opacity: .5;
}
.versus-row .versus-comparing {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.versus-comparing figure {
  width: 63px;
  height: 63px;
  border: 3px solid #e9e9e9;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
}
.versus-specifications .line-chart {
  padding: 12px 18px;
  border: 1px solid #eeeeee;
  margin: 12px 0;
}
.vs-spec-winner {
  margin-bottom: 18px;
}
.vs-spec-winner svg {
  width: 16px;
  height: 16px;
}
section.vs-latest-reviews {
  background-color: #f2f2f2;
  position: relative;
  margin: 30px 0;
  padding: 60px 0 30px;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}
section.vs-latest-reviews > svg {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 43px;
  line-height: 0;
  transform: rotateY(180deg);
}
section.vs-latest-reviews > svg.bottom-waves {
  top: auto;
  bottom: 0;
  transform: rotateX(180deg);
}
section.vs-latest-reviews h2,
section.vs-buy-now h2 {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
section.vs-latest-reviews h2 i,
section.vs-buy-now h2 i {
  display: block;
  font-size: 38px;
  color: #eaa454;
  margin-bottom: 12px;
}
section.vs-latest-reviews p,
section.vs-buy-now p {
  font-size: 16px;
  text-align: center;
  padding: 12px;
}
.vs-reviews-container {
  display: flex;
  padding-bottom: 30px;
}
.vs-reviews-container .vs-reviews {
  width: 50%;
  padding: 10px;
}
.vs-offers-container {
  display: flex;
  padding-bottom: 36px;
}
.vs-offers-container .vs-offer {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.vs-offer figure {
  text-align: center;
}
.vs-offer figure figcaption {
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.vs-offer .offers-list {
  margin-bottom: 0;
  margin-top: auto;
}
